{
  "openapi": "3.0.0",
  "info": {
    "title": "Discord HTTP API (Preview)",
    "description": "Preview of the Discord v10 HTTP API specification. See https://discord.com/developers/docs for more details.",
    "contact": {},
    "version": "10"
  },
  "servers": [
    {
      "url": "https://discord.com/api/v10",
      "variables": {}
    },
    {
      "url": "discord.com/oauth2",
      "variables": {}
    },
    {
      "url": "https://discord.com/api/oauth2",
      "variables": {}
    }
  ],
  "paths": {
    "/oauth2/applications/@me": {
      "get": {
        "summary": "get_my_oauth2_application",
        "description": "",
        "operationId": "get_my_oauth2_application",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200 response for get_my_oauth2_application",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateApplicationResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/users/@me/connections": {
      "get": {
        "summary": "list_my_connections",
        "description": "",
        "operationId": "list_my_connections",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200 response for list_my_connections",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConnectedAccountResponse"
                  },
                  "description": "",
                  "nullable": true
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "connections"
            ]
          }
        ]
      }
    },
    "/users/@me/channels": {
      "post": {
        "summary": "create_dm",
        "description": "",
        "operationId": "create_dm",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePrivateChannelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for create_dm",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PrivateChannelResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PrivateGroupChannelResponse"
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "dm_channels.read",
              "voice"
            ]
          }
        ]
      }
    },
    "/users/@me/guilds": {
      "get": {
        "summary": "list_my_guilds",
        "description": "",
        "operationId": "list_my_guilds",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 200.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_my_guilds",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MyGuildResponse"
                  },
                  "description": "",
                  "nullable": true
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "guilds"
            ]
          }
        ]
      }
    },
    "/applications/@me": {
      "get": {
        "summary": "get_my_application",
        "description": "",
        "operationId": "get_my_application",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200 response for get_my_application",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateApplicationResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "patch": {
        "summary": "update_my_application",
        "description": "",
        "operationId": "update_my_application",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationFormPartial"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_my_application",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateApplicationResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/gateway/bot": {
      "get": {
        "summary": "get_bot_gateway",
        "description": "",
        "operationId": "get_bot_gateway",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200 response for get_bot_gateway",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayBotResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/oauth2/keys": {
      "get": {
        "summary": "get_public_keys",
        "description": "",
        "operationId": "get_public_keys",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200 response for get_public_keys",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2GetKeys"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {},
          {
            "BotToken": []
          }
        ]
      }
    },
    "/oauth2/@me": {
      "get": {
        "summary": "get_my_oauth2_authorization",
        "description": "",
        "operationId": "get_my_oauth2_authorization",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200 response for get_my_oauth2_authorization",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2GetAuthorizationResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "activities.read",
              "activities.write",
              "applications.builds.read",
              "applications.builds.upload",
              "applications.commands",
              "applications.commands.permissions.update",
              "applications.commands.update",
              "applications.entitlements",
              "applications.store.update",
              "bot",
              "connections",
              "dm_channels.read",
              "email",
              "gdm.join",
              "guilds",
              "guilds.join",
              "guilds.members.read",
              "identify",
              "messages.read",
              "openid",
              "relationships.read",
              "role_connections.write",
              "rpc",
              "rpc.activities.write",
              "rpc.notifications.read",
              "rpc.screenshare.read",
              "rpc.screenshare.write",
              "rpc.video.read",
              "rpc.video.write",
              "rpc.voice.read",
              "rpc.voice.write",
              "voice",
              "webhook.incoming"
            ]
          }
        ]
      }
    },
    "/voice/regions": {
      "get": {
        "summary": "list_voice_regions",
        "description": "",
        "operationId": "list_voice_regions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200 response for list_voice_regions",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VoiceRegionResponse"
                  },
                  "description": "",
                  "nullable": true
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/users/@me": {
      "get": {
        "summary": "get_my_user",
        "description": "",
        "operationId": "get_my_user",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200 response for get_my_user",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPIIResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "identify"
            ]
          }
        ]
      },
      "patch": {
        "summary": "update_my_user",
        "description": "",
        "operationId": "update_my_user",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotAccountPatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_my_user",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPIIResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/stage-instances": {
      "post": {
        "summary": "create_stage_instance",
        "description": "",
        "operationId": "create_stage_instance",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StageInstancesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for create_stage_instance",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageInstanceResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/sticker-packs": {
      "get": {
        "summary": "list_sticker_packs",
        "description": "",
        "operationId": "list_sticker_packs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200 response for list_sticker_packs",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StickerPackCollectionResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {},
          {
            "BotToken": []
          }
        ]
      }
    },
    "/gateway": {
      "get": {
        "summary": "get_gateway",
        "description": "",
        "operationId": "get_gateway",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200 response for get_gateway",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {},
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds": {
      "post": {
        "summary": "create_guild",
        "description": "",
        "operationId": "create_guild",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuildCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "201 response for create_guild",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuildResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/users/@me/threads/archived/private": {
      "get": {
        "summary": "list_my_private_archived_threads",
        "description": "",
        "operationId": "list_my_private_archived_threads",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100.0,
              "minimum": 2.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_my_private_archived_threads",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/applications/{application_id}/guilds/{guild_id}/commands/permissions": {
      "get": {
        "summary": "list_guild_application_command_permissions",
        "description": "",
        "operationId": "list_guild_application_command_permissions",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "guild_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_guild_application_command_permissions",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommandPermissionsResponse"
                  },
                  "description": ""
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.permissions.update"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/guilds/{guild_id}/commands/{command_id}/permissions": {
      "get": {
        "summary": "get_guild_application_command_permissions",
        "description": "",
        "operationId": "get_guild_application_command_permissions",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "guild_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "command_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for get_guild_application_command_permissions",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandPermissionsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.permissions.update"
            ]
          }
        ]
      },
      "put": {
        "summary": "set_guild_application_command_permissions",
        "description": "",
        "operationId": "set_guild_application_command_permissions",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "guild_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "command_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationsGuildsCommandsCommandIdPermissionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for set_guild_application_command_permissions",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandPermissionsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.permissions.update"
            ]
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/{message_id}/reactions/{emoji_name}/@me": {
      "put": {
        "summary": "add_my_message_reaction",
        "description": "",
        "operationId": "add_my_message_reaction",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "emoji_name",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 152133,
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204 response for add_my_message_reaction",
            "headers": {},
            "content": {}
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "summary": "delete_my_message_reaction",
        "description": "",
        "operationId": "delete_my_message_reaction",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "emoji_name",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 152133,
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204 response for delete_my_message_reaction",
            "headers": {},
            "content": {}
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/threads/archived/private": {
      "get": {
        "summary": "list_private_archived_threads",
        "description": "",
        "operationId": "list_private_archived_threads",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100.0,
              "minimum": 2.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_private_archived_threads",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/threads/archived/public": {
      "get": {
        "summary": "list_public_archived_threads",
        "description": "",
        "operationId": "list_public_archived_threads",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100.0,
              "minimum": 2.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_public_archived_threads",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/users/@me/applications/{application_id}/role-connection": {
      "get": {
        "summary": "get_application_user_role_connection",
        "description": "",
        "operationId": "get_application_user_role_connection",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for get_application_user_role_connection",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUserRoleConnectionResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "role_connections.write"
            ]
          }
        ]
      },
      "put": {
        "summary": "update_application_user_role_connection",
        "description": "",
        "operationId": "update_application_user_role_connection",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsersMeApplicationsRoleConnectionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_application_user_role_connection",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUserRoleConnectionResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "role_connections.write"
            ]
          }
        ]
      }
    },
    "/users/@me/guilds/{guild_id}/member": {
      "get": {
        "summary": "get_my_guild_member",
        "description": "",
        "operationId": "get_my_guild_member",
        "parameters": [
          {
            "name": "guild_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for get_my_guild_member",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGuildMemberResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "guilds.members.read"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/role-connections/metadata": {
      "get": {
        "summary": "get_application_role_connections_metadata",
        "description": "",
        "operationId": "get_application_role_connections_metadata",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for get_application_role_connections_metadata",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationRoleConnectionsMetadataItemResponse"
                  },
                  "description": "",
                  "nullable": true
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "put": {
        "summary": "update_application_role_connections_metadata",
        "description": "",
        "operationId": "update_application_role_connections_metadata",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 5,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ApplicationRoleConnectionsMetadataItemRequest"
                },
                "description": "",
                "nullable": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_application_role_connections_metadata",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationRoleConnectionsMetadataItemResponse"
                  },
                  "description": "",
                  "nullable": true
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/applications/{application_id}/entitlements/{entitlement_id}/consume": {
      "post": {
        "summary": "consume_entitlement",
        "description": "",
        "operationId": "consume_entitlement",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "entitlement_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204 response for consume_entitlement",
            "headers": {},
            "content": {}
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.entitlements"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/guilds/{guild_id}/commands/{command_id}": {
      "get": {
        "summary": "get_guild_application_command",
        "description": "",
        "operationId": "get_guild_application_command",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "guild_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "command_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for get_guild_application_command",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "delete": {
        "summary": "delete_guild_application_command",
        "description": "",
        "operationId": "delete_guild_application_command",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "guild_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "command_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204 response for delete_guild_application_command",
            "headers": {},
            "content": {}
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "patch": {
        "summary": "update_guild_application_command",
        "description": "",
        "operationId": "update_guild_application_command",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "guild_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "command_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCommandPatchRequestPartial"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_guild_application_command",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/guilds/{guild_id}/commands": {
      "get": {
        "summary": "list_guild_application_commands",
        "description": "",
        "operationId": "list_guild_application_commands",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "guild_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "with_localizations",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_guild_application_commands",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                  },
                  "description": "",
                  "nullable": true
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "put": {
        "summary": "bulk_set_guild_application_commands",
        "description": "",
        "operationId": "bulk_set_guild_application_commands",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "guild_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 110,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ApplicationCommandUpdateRequest"
                },
                "description": "",
                "nullable": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for bulk_set_guild_application_commands",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                  },
                  "description": "",
                  "nullable": true
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "post": {
        "summary": "create_guild_application_command",
        "description": "",
        "operationId": "create_guild_application_command",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "guild_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCommandCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for create_guild_application_command",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "201": {
            "description": "201 response for create_guild_application_command",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      }
    },
    "/channels/{channel_id}/thread-members/@me": {
      "put": {
        "summary": "join_thread",
        "description": "",
        "operationId": "join_thread",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204 response for join_thread",
            "headers": {},
            "content": {}
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "summary": "leave_thread",
        "description": "",
        "operationId": "leave_thread",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204 response for leave_thread",
            "headers": {},
            "content": {}
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/bulk-delete": {
      "post": {
        "summary": "bulk_delete_messages",
        "description": "",
        "operationId": "bulk_delete_messages",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelsMessagesBulkDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "204 response for bulk_delete_messages",
            "headers": {},
            "content": {}
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/{message_id}/reactions/{emoji_name}/{user_id}": {
      "delete": {
        "summary": "delete_user_message_reaction",
        "description": "",
        "operationId": "delete_user_message_reaction",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "emoji_name",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 152133,
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204 response for delete_user_message_reaction",
            "headers": {},
            "content": {}
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/{message_id}/reactions/{emoji_name}": {
      "get": {
        "summary": "list_message_reactions_by_emoji",
        "description": "",
        "operationId": "list_message_reactions_by_emoji",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "emoji_name",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 152133,
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_message_reactions_by_emoji",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserResponse"
                  },
                  "description": ""
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "summary": "delete_all_message_reactions_by_emoji",
        "description": "",
        "operationId": "delete_all_message_reactions_by_emoji",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "emoji_name",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 152133,
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204 response for delete_all_message_reactions_by_emoji",
            "headers": {},
            "content": {}
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/{message_id}/reactions": {
      "delete": {
        "summary": "delete_all_message_reactions",
        "description": "",
        "operationId": "delete_all_message_reactions",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204 response for delete_all_message_reactions",
            "headers": {},
            "content": {}
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/{message_id}/crosspost": {
      "post": {
        "summary": "crosspost_message",
        "description": "",
        "operationId": "crosspost_message",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for crosspost_message",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/{message_id}/threads": {
      "post": {
        "summary": "create_thread_from_message",
        "description": "",
        "operationId": "create_thread_from_message",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTextThreadWithMessageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "201 response for create_thread_from_message",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}/{webhook_token}/messages/@original": {
      "get": {
        "summary": "get_original_webhook_message",
        "description": "",
        "operationId": "get_original_webhook_message",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "webhook_token",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 152133,
              "type": "string"
            }
          },
          {
            "name": "thread_id",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for get_original_webhook_message",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {},
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "summary": "delete_original_webhook_message",
        "description": "",
        "operationId": "delete_original_webhook_message",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "webhook_token",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 152133,
              "type": "string"
            }
          },
          {
            "name": "thread_id",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204 response for delete_original_webhook_message",
            "headers": {},
            "content": {}
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {},
          {
            "BotToken": []
          }
        ]
      },
      "patch": {
        "summary": "update_original_webhook_message",
        "description": "",
        "operationId": "update_original_webhook_message",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "webhook_token",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 152133,
              "type": "string"
            }
          },
          {
            "name": "thread_id",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/x-www-form-urlencoded"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "maxLength": 2000,
                    "type": "string",
                    "nullable": true
                  },
                  "embeds": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RichEmbed"
                    },
                    "description": "",
                    "nullable": true
                  },
                  "allowed_mentions": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/MessageAllowedMentionsRequest"
                      },
                      {
                        "nullable": true
                      }
                    ]
                  },
                  "components": {
                    "maxItems": 5,
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ActionRow"
                    },
                    "description": "",
                    "nullable": true
                  },
                  "attachments": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageAttachmentRequest"
                    },
                    "description": "",
                    "nullable": true
                  },
                  "flags": {
                    "type": "integer",
                    "format": "int32",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "200 response for update_original_webhook_message",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {},
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/scheduled-events/{guild_scheduled_event_id}/users": {
      "get": {
        "summary": "list_guild_scheduled_event_users",
        "description": "",
        "operationId": "list_guild_scheduled_event_users",
        "parameters": [
          {
            "name": "guild_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "guild_scheduled_event_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "with_member",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_guild_scheduled_event_users",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScheduledEventUserResponse"
                  },
                  "description": "",
                  "nullable": true
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/auto-moderation/rules/{rule_id}": {
      "get": {
        "summary": "get_auto_moderation_rule",
        "description": "",
        "operationId": "get_auto_moderation_rule",
        "parameters": [
          {
            "name": "guild_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "rule_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for get_auto_moderation_rule",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/DefaultKeywordRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/KeywordRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/MLSpamRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/MentionSpamRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/SpamLinkRuleResponse"
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "description": "Errors object returned by the Discord API"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "summary": "delete_auto_moderation_rule",
        "description": "",
        "operationId": "delete_auto_moderation_rule",
        "parameters": [
          {
            "name": "guild_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          },
          {
            "name": "rule_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(0|[1-9][0-9]*)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204 response for delete_auto_moderation_rule",
            "headers": {},
            "content": {}
          },
          "4XX": {
            "description": "Client error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
[...]
