{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Discord HTTP API (Preview)",
    "description" : "Preview of the Discord v10 HTTP API specification. See https://discord.com/developers/docs for more details.",
    "contact" : { },
    "version" : "10"
  },
  "externalDocs" : {
    "description" : "Discord Developer Documentation",
    "url" : "https://discord.com/developers/docs"
  },
  "servers" : [ {
    "url" : "https://discord.com/api/v10"
  }, {
    "url" : "discord.com/oauth2"
  }, {
    "url" : "https://discord.com/api/oauth2"
  } ],
  "paths" : {
    "/oauth2/applications/@me" : {
      "get" : {
        "summary" : "get_my_oauth2_application",
        "description" : "",
        "operationId" : "get_my_oauth2_application",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "200 response for get_my_oauth2_application",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrivateApplicationResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/users/@me/connections" : {
      "get" : {
        "summary" : "list_my_connections",
        "description" : "",
        "operationId" : "list_my_connections",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "200 response for list_my_connections",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "",
                  "nullable" : true,
                  "items" : {
                    "$ref" : "#/components/schemas/ConnectedAccountResponse"
                  }
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        }, {
          "OAuth2" : [ "connections" ]
        } ]
      }
    },
    "/users/@me/channels" : {
      "post" : {
        "summary" : "create_dm",
        "description" : "",
        "operationId" : "create_dm",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePrivateChannelRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response for create_dm",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse200"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        }, {
          "OAuth2" : [ "dm_channels.read", "voice" ]
        } ]
      }
    },
    "/users/@me/guilds" : {
      "get" : {
        "summary" : "list_my_guilds",
        "description" : "",
        "operationId" : "list_my_guilds",
        "parameters" : [ {
          "name" : "before",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 200.0,
            "minimum" : 1.0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "with_counts",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "withCounts"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for list_my_guilds",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "",
                  "nullable" : true,
                  "items" : {
                    "$ref" : "#/components/schemas/MyGuildResponse"
                  }
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        }, {
          "OAuth2" : [ "guilds" ]
        } ]
      }
    },
    "/applications/@me" : {
      "get" : {
        "summary" : "get_my_application",
        "description" : "",
        "operationId" : "get_my_application",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "200 response for get_my_application",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrivateApplicationResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      },
      "patch" : {
        "summary" : "update_my_application",
        "description" : "",
        "operationId" : "update_my_application",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationFormPartial"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response for update_my_application",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrivateApplicationResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/gateway/bot" : {
      "get" : {
        "summary" : "get_bot_gateway",
        "description" : "",
        "operationId" : "get_bot_gateway",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "200 response for get_bot_gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayBotResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/oauth2/keys" : {
      "get" : {
        "summary" : "get_public_keys",
        "description" : "",
        "operationId" : "get_public_keys",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "200 response for get_public_keys",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OAuth2GetKeys"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ { }, {
          "BotToken" : [ ]
        } ]
      }
    },
    "/oauth2/@me" : {
      "get" : {
        "summary" : "get_my_oauth2_authorization",
        "description" : "",
        "operationId" : "get_my_oauth2_authorization",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "200 response for get_my_oauth2_authorization",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OAuth2GetAuthorizationResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        }, {
          "OAuth2" : [ "activities.read", "activities.write", "applications.builds.read", "applications.builds.upload", "applications.commands", "applications.commands.permissions.update", "applications.commands.update", "applications.entitlements", "applications.store.update", "bot", "connections", "dm_channels.read", "email", "gdm.join", "guilds", "guilds.join", "guilds.members.read", "identify", "messages.read", "openid", "relationships.read", "role_connections.write", "rpc", "rpc.activities.write", "rpc.notifications.read", "rpc.screenshare.read", "rpc.screenshare.write", "rpc.video.read", "rpc.video.write", "rpc.voice.read", "rpc.voice.write", "voice", "webhook.incoming" ]
        } ]
      }
    },
    "/voice/regions" : {
      "get" : {
        "summary" : "list_voice_regions",
        "description" : "",
        "operationId" : "list_voice_regions",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "200 response for list_voice_regions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "",
                  "nullable" : true,
                  "items" : {
                    "$ref" : "#/components/schemas/VoiceRegionResponse"
                  }
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/users/@me" : {
      "get" : {
        "summary" : "get_my_user",
        "description" : "",
        "operationId" : "get_my_user",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "200 response for get_my_user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserPIIResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        }, {
          "OAuth2" : [ "identify" ]
        } ]
      },
      "patch" : {
        "summary" : "update_my_user",
        "description" : "",
        "operationId" : "update_my_user",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BotAccountPatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response for update_my_user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserPIIResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/stage-instances" : {
      "post" : {
        "summary" : "create_stage_instance",
        "description" : "",
        "operationId" : "create_stage_instance",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StageInstancesRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response for create_stage_instance",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StageInstanceResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/sticker-packs" : {
      "get" : {
        "summary" : "list_sticker_packs",
        "description" : "",
        "operationId" : "list_sticker_packs",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "200 response for list_sticker_packs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StickerPackCollectionResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ { }, {
          "BotToken" : [ ]
        } ]
      }
    },
    "/gateway" : {
      "get" : {
        "summary" : "get_gateway",
        "description" : "",
        "operationId" : "get_gateway",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "200 response for get_gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ { }, {
          "BotToken" : [ ]
        } ]
      }
    },
    "/guilds" : {
      "post" : {
        "summary" : "create_guild",
        "description" : "",
        "operationId" : "create_guild",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GuildCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "201 response for create_guild",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GuildResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/channels/{channelId}/users/@me/threads/archived/private" : {
      "get" : {
        "summary" : "list_my_private_archived_threads",
        "description" : "",
        "operationId" : "list_my_private_archived_threads",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "Channel ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100.0,
            "minimum" : 2.0,
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for list_my_private_archived_threads",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ThreadsResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/applications/{applicationId}/guilds/{guildId}/commands/permissions" : {
      "get" : {
        "summary" : "list_guild_application_command_permissions",
        "description" : "",
        "operationId" : "list_guild_application_command_permissions",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for list_guild_application_command_permissions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "",
                  "items" : {
                    "$ref" : "#/components/schemas/CommandPermissionsResponse"
                  }
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        }, {
          "OAuth2" : [ "applications.commands.permissions.update" ]
        } ]
      }
    },
    "/applications/{applicationId}/guilds/{guildId}/commands/{commandId}/permissions" : {
      "get" : {
        "summary" : "get_guild_application_command_permissions",
        "description" : "",
        "operationId" : "get_guild_application_command_permissions",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "commandId",
          "in" : "path",
          "description" : "Command ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for get_guild_application_command_permissions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommandPermissionsResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        }, {
          "OAuth2" : [ "applications.commands.permissions.update" ]
        } ]
      },
      "put" : {
        "summary" : "set_guild_application_command_permissions",
        "description" : "",
        "operationId" : "set_guild_application_command_permissions",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "commandId",
          "in" : "path",
          "description" : "Command ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationsGuildsCommandsCommandIdPermissionsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response for set_guild_application_command_permissions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommandPermissionsResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        }, {
          "OAuth2" : [ "applications.commands.permissions.update" ]
        } ]
      }
    },
    "/channels/{channelId}/messages/{messageId}/reactions/{emojiName}/@me" : {
      "put" : {
        "summary" : "add_my_message_reaction",
        "description" : "",
        "operationId" : "add_my_message_reaction",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "Channel ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "Message ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "emojiName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 152133,
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response for add_my_message_reaction",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      },
      "delete" : {
        "summary" : "delete_my_message_reaction",
        "description" : "",
        "operationId" : "delete_my_message_reaction",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "Channel ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "Message ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "emojiName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 152133,
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response for delete_my_message_reaction",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/channels/{channelId}/threads/archived/private" : {
      "get" : {
        "summary" : "list_private_archived_threads",
        "description" : "",
        "operationId" : "list_private_archived_threads",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "Channel ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100.0,
            "minimum" : 2.0,
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for list_private_archived_threads",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ThreadsResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/channels/{channelId}/threads/archived/public" : {
      "get" : {
        "summary" : "list_public_archived_threads",
        "description" : "",
        "operationId" : "list_public_archived_threads",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "Channel ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100.0,
            "minimum" : 2.0,
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for list_public_archived_threads",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ThreadsResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/users/@me/applications/{applicationId}/role-connection" : {
      "get" : {
        "summary" : "get_application_user_role_connection",
        "description" : "",
        "operationId" : "get_application_user_role_connection",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for get_application_user_role_connection",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationUserRoleConnectionResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "role_connections.write" ]
        } ]
      },
      "put" : {
        "summary" : "update_application_user_role_connection",
        "description" : "",
        "operationId" : "update_application_user_role_connection",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UsersMeApplicationsRoleConnectionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response for update_application_user_role_connection",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationUserRoleConnectionResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "role_connections.write" ]
        } ]
      }
    },
    "/users/@me/guilds/{guildId}/member" : {
      "get" : {
        "summary" : "get_my_guild_member",
        "description" : "",
        "operationId" : "get_my_guild_member",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for get_my_guild_member",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrivateGuildMemberResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "guilds.members.read" ]
        } ]
      }
    },
    "/applications/{applicationId}/role-connections/metadata" : {
      "get" : {
        "summary" : "get_application_role_connections_metadata",
        "description" : "",
        "operationId" : "get_application_role_connections_metadata",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for get_application_role_connections_metadata",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "",
                  "nullable" : true,
                  "items" : {
                    "$ref" : "#/components/schemas/ApplicationRoleConnectionsMetadataItemResponse"
                  }
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      },
      "put" : {
        "summary" : "update_application_role_connections_metadata",
        "description" : "",
        "operationId" : "update_application_role_connections_metadata",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "maxItems" : 5,
                "type" : "array",
                "description" : "",
                "nullable" : true,
                "items" : {
                  "$ref" : "#/components/schemas/ApplicationRoleConnectionsMetadataItemRequest"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response for update_application_role_connections_metadata",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "",
                  "nullable" : true,
                  "items" : {
                    "$ref" : "#/components/schemas/ApplicationRoleConnectionsMetadataItemResponse"
                  }
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/applications/{applicationId}/entitlements/{entitlementId}/consume" : {
      "post" : {
        "summary" : "consume_entitlement",
        "description" : "",
        "operationId" : "consume_entitlement",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "entitlementId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response for consume_entitlement",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        }, {
          "OAuth2" : [ "applications.entitlements" ]
        } ]
      }
    },
    "/applications/{applicationId}/guilds/{guildId}/commands/{commandId}" : {
      "get" : {
        "summary" : "get_guild_application_command",
        "description" : "",
        "operationId" : "get_guild_application_command",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "commandId",
          "in" : "path",
          "description" : "Command ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for get_guild_application_command",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        }, {
          "OAuth2" : [ "applications.commands.update" ]
        } ]
      },
      "delete" : {
        "summary" : "delete_guild_application_command",
        "description" : "",
        "operationId" : "delete_guild_application_command",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "commandId",
          "in" : "path",
          "description" : "Command ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response for delete_guild_application_command",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        }, {
          "OAuth2" : [ "applications.commands.update" ]
        } ]
      },
      "patch" : {
        "summary" : "update_guild_application_command",
        "description" : "",
        "operationId" : "update_guild_application_command",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "commandId",
          "in" : "path",
          "description" : "Command ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationCommandPatchRequestPartial"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response for update_guild_application_command",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        }, {
          "OAuth2" : [ "applications.commands.update" ]
        } ]
      }
    },
    "/applications/{applicationId}/guilds/{guildId}/commands" : {
      "get" : {
        "summary" : "list_guild_application_commands",
        "description" : "",
        "operationId" : "list_guild_application_commands",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "with_localizations",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "withLocalizations"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for list_guild_application_commands",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "",
                  "nullable" : true,
                  "items" : {
                    "$ref" : "#/components/schemas/ApplicationCommandResponse"
                  }
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        }, {
          "OAuth2" : [ "applications.commands.update" ]
        } ]
      },
      "put" : {
        "summary" : "bulk_set_guild_application_commands",
        "description" : "",
        "operationId" : "bulk_set_guild_application_commands",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "maxItems" : 110,
                "type" : "array",
                "description" : "",
                "nullable" : true,
                "items" : {
                  "$ref" : "#/components/schemas/ApplicationCommandUpdateRequest"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response for bulk_set_guild_application_commands",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "",
                  "nullable" : true,
                  "items" : {
                    "$ref" : "#/components/schemas/ApplicationCommandResponse"
                  }
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        }, {
          "OAuth2" : [ "applications.commands.update" ]
        } ]
      },
      "post" : {
        "summary" : "create_guild_application_command",
        "description" : "",
        "operationId" : "create_guild_application_command",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationCommandCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response for create_guild_application_command",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "201 response for create_guild_application_command",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        }, {
          "OAuth2" : [ "applications.commands.update" ]
        } ]
      }
    },
    "/channels/{channelId}/thread-members/@me" : {
      "put" : {
        "summary" : "join_thread",
        "description" : "",
        "operationId" : "join_thread",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "Channel ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response for join_thread",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      },
      "delete" : {
        "summary" : "leave_thread",
        "description" : "",
        "operationId" : "leave_thread",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "Channel ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response for leave_thread",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/channels/{channelId}/messages/bulk-delete" : {
      "post" : {
        "summary" : "bulk_delete_messages",
        "description" : "",
        "operationId" : "bulk_delete_messages",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "Channel ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChannelsMessagesBulkDeleteRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "204 response for bulk_delete_messages",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/channels/{channelId}/messages/{messageId}/reactions/{emojiName}/{userId}" : {
      "delete" : {
        "summary" : "delete_user_message_reaction",
        "description" : "",
        "operationId" : "delete_user_message_reaction",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "Channel ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "Message ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "emojiName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 152133,
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response for delete_user_message_reaction",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/channels/{channelId}/messages/{messageId}/reactions/{emojiName}" : {
      "get" : {
        "summary" : "list_message_reactions_by_emoji",
        "description" : "",
        "operationId" : "list_message_reactions_by_emoji",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "Channel ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "Message ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "emojiName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 152133,
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100.0,
            "minimum" : 1.0,
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for list_message_reactions_by_emoji",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "",
                  "items" : {
                    "$ref" : "#/components/schemas/UserResponse"
                  }
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      },
      "delete" : {
        "summary" : "delete_all_message_reactions_by_emoji",
        "description" : "",
        "operationId" : "delete_all_message_reactions_by_emoji",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "Channel ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "Message ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "emojiName",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 152133,
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response for delete_all_message_reactions_by_emoji",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/channels/{channelId}/messages/{messageId}/reactions" : {
      "delete" : {
        "summary" : "delete_all_message_reactions",
        "description" : "",
        "operationId" : "delete_all_message_reactions",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "Channel ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "Message ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response for delete_all_message_reactions",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/channels/{channelId}/messages/{messageId}/crosspost" : {
      "post" : {
        "summary" : "crosspost_message",
        "description" : "",
        "operationId" : "crosspost_message",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "Channel ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "Message ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for crosspost_message",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/channels/{channelId}/messages/{messageId}/threads" : {
      "post" : {
        "summary" : "create_thread_from_message",
        "description" : "",
        "operationId" : "create_thread_from_message",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "Channel ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "Message ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateTextThreadWithMessageRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "201 response for create_thread_from_message",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ThreadResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/webhooks/{webhookId}/{webhookToken}/messages/@original" : {
      "get" : {
        "summary" : "get_original_webhook_message",
        "description" : "",
        "operationId" : "get_original_webhook_message",
        "parameters" : [ {
          "name" : "webhookId",
          "in" : "path",
          "description" : "Webhook ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "webhookToken",
          "in" : "path",
          "description" : "Webhook Token",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 152133,
            "type" : "string"
          }
        }, {
          "name" : "thread_id",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          },
          "x-ballerina-name" : "threadId"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for get_original_webhook_message",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ { }, {
          "BotToken" : [ ]
        } ]
      },
      "delete" : {
        "summary" : "delete_original_webhook_message",
        "description" : "",
        "operationId" : "delete_original_webhook_message",
        "parameters" : [ {
          "name" : "webhookId",
          "in" : "path",
          "description" : "Webhook ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "webhookToken",
          "in" : "path",
          "description" : "Webhook Token",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 152133,
            "type" : "string"
          }
        }, {
          "name" : "thread_id",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          },
          "x-ballerina-name" : "threadId"
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response for delete_original_webhook_message",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ { }, {
          "BotToken" : [ ]
        } ]
      },
      "patch" : {
        "summary" : "update_original_webhook_message",
        "description" : "",
        "operationId" : "update_original_webhook_message",
        "parameters" : [ {
          "name" : "webhookId",
          "in" : "path",
          "description" : "Webhook ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "webhookToken",
          "in" : "path",
          "description" : "Webhook Token",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 152133,
            "type" : "string"
          }
        }, {
          "name" : "thread_id",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          },
          "x-ballerina-name" : "threadId"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/x-www-form-urlencoded" ]
          },
          "x-ballerina-name" : "contentType"
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/MessagesoriginalBody"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "200 response for update_original_webhook_message",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ { }, {
          "BotToken" : [ ]
        } ]
      }
    },
    "/guilds/{guildId}/scheduled-events/{guildScheduledEventId}/users" : {
      "get" : {
        "summary" : "list_guild_scheduled_event_users",
        "description" : "",
        "operationId" : "list_guild_scheduled_event_users",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "guildScheduledEventId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "with_member",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "withMember"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100.0,
            "minimum" : 1.0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for list_guild_scheduled_event_users",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "",
                  "nullable" : true,
                  "items" : {
                    "$ref" : "#/components/schemas/ScheduledEventUserResponse"
                  }
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/guilds/{guildId}/auto-moderation/rules/{ruleId}" : {
      "get" : {
        "summary" : "get_auto_moderation_rule",
        "description" : "",
        "operationId" : "get_auto_moderation_rule",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for get_auto_moderation_rule",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2001"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      },
      "delete" : {
        "summary" : "delete_auto_moderation_rule",
        "description" : "",
        "operationId" : "delete_auto_moderation_rule",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response for delete_auto_moderation_rule",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      },
      "patch" : {
        "summary" : "update_auto_moderation_rule",
        "description" : "",
        "operationId" : "update_auto_moderation_rule",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RulesruleIdBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response for update_auto_moderation_rule",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2001"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/guilds/{guildId}/auto-moderation/rules" : {
      "get" : {
        "summary" : "list_auto_moderation_rules",
        "description" : "",
        "operationId" : "list_auto_moderation_rules",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for list_auto_moderation_rules",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "",
                  "nullable" : true,
                  "items" : {
                    "$ref" : "#/components/schemas/InlineResponseItems200"
                  }
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      },
      "post" : {
        "summary" : "create_auto_moderation_rule",
        "description" : "",
        "operationId" : "create_auto_moderation_rule",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AutoModerationRulesBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response for create_auto_moderation_rule",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2001"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/guilds/{guildId}/voice-states/@me" : {
      "patch" : {
        "summary" : "update_self_voice_state",
        "description" : "",
        "operationId" : "update_self_voice_state",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GuildsVoiceStatesMeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "204 response for update_self_voice_state",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/guilds/{guildId}/members/search" : {
      "get" : {
        "summary" : "search_guild_members",
        "description" : "",
        "operationId" : "search_guild_members",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000.0,
            "minimum" : 1.0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for search_guild_members",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "",
                  "items" : {
                    "$ref" : "#/components/schemas/GuildMemberResponse"
                  }
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/guilds/{guildId}/threads/active" : {
      "get" : {
        "summary" : "get_active_guild_threads",
        "description" : "",
        "operationId" : "get_active_guild_threads",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response for get_active_guild_threads",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ThreadsResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/guilds/{guildId}/members/@me" : {
      "patch" : {
        "summary" : "update_my_guild_member",
        "description" : "",
        "operationId" : "update_my_guild_member",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GuildsMembersMeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response for update_my_guild_member",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrivateGuildMemberResponse"
                }
              }
            }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/guilds/{guildId}/members/{userId}/roles/{roleId}" : {
      "put" : {
        "summary" : "add_guild_member_role",
        "description" : "",
        "operationId" : "add_guild_member_role",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "roleId",
          "in" : "path",
          "description" : "Role ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response for add_guild_member_role",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      },
      "delete" : {
        "summary" : "delete_guild_member_role",
        "description" : "",
        "operationId" : "delete_guild_member_role",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        }, {
          "name" : "roleId",
          "in" : "path",
          "description" : "Role ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response for delete_guild_member_role",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/users/@me/guilds/{guildId}" : {
      "delete" : {
        "summary" : "leave_guild",
        "description" : "",
        "operationId" : "leave_guild",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "Guild ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^(0|[1-9][0-9]*)$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response for leave_guild",
            "content" : { }
          },
          "4XX" : {
            "description" : "Client error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4XX"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BotToken" : [ ]
        } ]
      }
    },
    "/applications/{applicationId}/entitlements/{entitlementId}" : {
      "get" : {
        "summary" : "get_entitlement",
        "description" : "",
        "operationId" : "get_entitlement",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
[...]
